<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="templates/css/style.css">
</head>
<body>
    <div class="top">
        <p class="toptext lefttext">Nombre&nbsp;y&nbsp;Apellido: __________________________________________</p>
        <p class="toptext centertext">Instituto Politecnico Superior Gral. San Martin<br />TEMA {{ temaLetter }} {% if key %} - VERSION RESUELTA {% endif %}</p>
        <p class="toptext righttext">Evaluación {{ materia }} - {{ date }}</p>
    </div>

    <div class="grid-container">
        {% for pregunta in prueba.PREGUNTAS %}
            <div class="grid-item">
                <b><label>{{pregunta.NUMBER}}){% if key %}__<span class="underline">{{ pregunta.CORRECT_LETTERS }}</span>__{% else %}______{%  endif %}</label>
                    <br />
                    <br />
                    <label>{{pregunta.TEXT}}</label>
                </b><br>

                {% for respuesta in pregunta.RESPUESTAS %}
                    <br><label>{{ respuesta.LETTER }}) {{respuesta.TEXT}}</label>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>