<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="templates/css/style.css">
</head>
<body>
    <div class="top">
        <p class="toptext lefttext">Nombre&nbsp;y&nbsp;Apellido: __________________________________________</p>
        <p class="toptext centertext">IPS. TEMA {{ temaLetter }}</p>
        <p class="toptext righttext">Evaluación {{ materia }} - 28/09/2017</p>
    </div>

    <div class="grid-container">
        {% set npreg = 1 %}
        {% for preg in ["fsd?", "DFsd?", "sdfsdfs?"] %}
            <div class="grid-item">
                <b><label>{{npreg}})_________ {{preg.devuelveDescripcion()}}</label></b><br>
                {% set abc = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N'] %}
                {% set index = 0 %}
                {% for resp in ["dfsdf", "fsdfsd", "fsdfsdf", "fddsdfsdfsadfas"] %}
                    <br><label>{{abc[index]}}) {{resp}}</label>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
            {% set npreg = npreg + 1 %}
        {% endfor %}

    </div>
</body>
</html>